<div>
    <div style="display: inline-block; width: 330px; margin: 0 20px; vertical-align: top;">
        <div>
            <Dropdown trigger="click" @on-click="onSelectedModelsLeft">
                <a href="javascript:void(0)">
                    {{leftModel && leftModel.name || '模型选择'}}
                    <Icon type="ios-arrow-down"></Icon>
                </a>
                <DropdownMenu slot="list">
                    <DropdownItem v-for="model in models" :name="model.id">{{model.name}}</DropdownItem>
                </DropdownMenu>
            </Dropdown>
        </div>
        <div v-if="leftAttr">
            <div v-for="attr in leftAttr.attrs">{{attr.name}}</div>
            <hr>
            <div v-for="handler in leftAttr.handlers">{{handler.name}}</div>
        </div>
    </div>
    <div style="display: inline-block; width: 330px; margin: 0 20px; vertical-align: top;">
        <div>
            <Dropdown trigger="click" @on-click="onSelectedModelsRight">
                <a href="javascript:void(0)">
                    {{rightModel && rightModel.name || '模型选择'}}
                    <Icon type="ios-arrow-down"></Icon>
                </a>
                <DropdownMenu slot="list">
                    <DropdownItem v-for="model in models" :name="model.id">{{model.name}}</DropdownItem>
                </DropdownMenu>
            </Dropdown>
        </div>
        <div v-if="rightAttr">
            <div v-for="attr in rightAttr.attrs">{{attr.name}}</div>
            <hr>
            <div v-for="handler in rightAttr.handlers">{{handler.name}}</div>
        </div>
    </div>
</div>
<!-- <div class="graph js-content">
    <div class="graphBox">
        <div>
            <Dropdown trigger="click" style="margin-left: 20px">
                <a href="javascript:void(0)">
                    click 触发
                    <Icon type="ios-arrow-down"></Icon>
                </a>
                <DropdownMenu slot="list">
                    <DropdownItem>驴打滚</DropdownItem>
                    <DropdownItem>炸酱面</DropdownItem>
                    <DropdownItem>豆汁儿</DropdownItem>
                    <DropdownItem>冰糖葫芦</DropdownItem>
                    <DropdownItem>北京烤鸭</DropdownItem>
                </DropdownMenu>
            </Dropdown>
        </div>
        <div class="graphTitle">
            <strong>{{nodeName}}</strong>
        </div>
        <div class="graphContent">
            <ul class="graphUl">
                <li>
                    <span>啊实打实大声道</span>
                </li>
                <li>
                        <span>啊实打实大声道</span>
                    </li>
                    <li>
                            <span>啊实打实大声道</span>
                        </li>
            </ul>
        </div>
        <div class="graphContent">
            <ul class="graphUl">
                <li>
                    <span>啊实打实大声道</span>
                </li>
                <li>
                        <span>啊实打实大声道</span>
                    </li>
                    <li>
                            <span>啊实打实大声道</span>
                        </li>
            </ul>
        </div>
    </div>
    <div class="graphBox">
        <div>
            //选择框
        </div>
        <div class="graphTitle">
            <strong>{{nodeName}}</strong>
        </div>
        <div class="graphContent">
            <ul class="graphUl">
                <li>
                    <span>啊实打实大声道</span>
                </li>
                <li>
                        <span>啊实打实大声道</span>
                    </li>
                    <li>
                            <span>啊实打实大声道</span>
                        </li>
            </ul>
        </div>
        <div class="graphContent">
            <ul class="graphUl">
                <li>
                    <span>啊实打实大声道</span>
                </li>
                <li>
                        <span>啊实打实大声道</span>
                    </li>
                    <li>
                            <span>啊实打实大声道</span>
                        </li>
            </ul>
        </div>
    </div>
</div> -->